$greyish-brown: #4a4a4a;
$white: #ffffff;
$steel-grey: #77898a;
$charcoal-grey: #344647;
$aquamarine: #00d1c1;
$black-8: rgba(0, 0, 0, 0.08);
$pale-grey: #f7faf9;
$aqua-blue: #00d1dc;
$light-grey: #e6ebe9;
