@import "text";
@import "colors";
@import "mixins";

.btn {
  cursor: pointer;
}
.col {
  flex-grow: 1;
}
.dash-col {
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 40px;
  @media only screen and (max-width: 768px) {
    margin: 0;
    padding: 16px;
  }
}
.dash-card {
  margin-top: 40px;
  .dash-title {
    @include Text-Style-4;
    color: $steel-grey;
  }
  .dash-card-box {
    position: relative;
    padding: 24px;
    margin-top: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 $black-8;
    background-color: $white;
  }
}
.list-ext-btn {
  @include Text-Style-17;
  @include Card-Padding-Break;
  padding: 17px 24px 0;
  border-top: 1px solid $light-grey;
  &::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 8px;
    position: relative;
    top: -1px;
    margin-right: 5px;
    @include Background-Image-Set("../assets/", "link-icon", "png");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
.val {
  @include Text-Style-7;
  &::before {
    content: "";
    width: 10px;
    height: 16px;
    position: relative;
    margin-right: 3px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    @include Background-Image-Set("../assets/", "rupee", "png");
  }
}
.tab-container {
  padding-bottom: 80px;
}
