@import "text";
@import "colors";

footer {
  background-color: #f2f6f4;
  padding: 60px 0;
  @include Text-Style-15;
  @media only screen and (max-width: 768px) {
    padding: 30px 16px;
  }
  .footer-links-row {
    display: flex;
    div {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  .simpl-footer-desc {
    flex-grow: 3;
    margin-right: 60px;
    @media only screen and (max-width: 768px) {
      margin: 0;
      padding: 32px 0;
    }
  }

  .footer-logo {
    width: 78px;
    height: 28px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/simpl-footer-logo.svg");
  }
  .footer-desc {
    margin: 16px 0 24px;
  }
  .footer-links {
    .lnk-title {
      display: block;
      margin-bottom: 32px;
      @include Text-Style-25;
    }
    .footer-lnk {
      @include Text-Style-24;
      margin-bottom: 24px;
      display: block;
    }
  }
  .footer-addr {
    @include Text-Style-26;
  }
  .address {
    margin: 100px 0 26px;
  }
  .accordion__button {
    @include Text-Style-25;
    position: relative;
    border-bottom: 1px solid $light-grey;
    padding: 16px 0;
    &::after {
      content: "";
      width: 9px;
      height: 14px;
      position: relative;
      top: 9px;
      margin-left: 3px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      @include Background-Image-Set("../assets/", "down-arrow", "png");
    }
  }
  .accordion__panel {
    .footer-lnk {
      @include Text-Style-24;
      margin: 0 0 20px 20px;
      display: block;
    }
  }
}
