@import "text";
@import "colors";

.simpl-header {
  border-bottom: 1px solid #e6ebe9;
  background-color: $white;
  .container {
    padding-top: 32px;

    .header-logo {
      background-image: url("../assets/simpl-logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 86px;
      height: 31px;
      @media only screen and (max-width: 768px) {
        margin: 0 0 24px 32px;
        display: inline-block;
      }
    }
    .header-ham-menu {
      display: none;
      background-image: url("../assets/stacked-group.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 16px;
      height: 14px;
      @media only screen and (max-width: 768px) {
        margin-right: 32px;
        display: inline-block;
        float: right;
      }
    }
    .header-download-logout {
      justify-content: flex-end;
      span {
        margin: 0 20px;
        @include Text-Style-4;
      }
      @media only screen and (max-width: 768px) {
        display: none !important;
      }
    }
    .header-welcome {
      @include Text-Style;
      @media only screen and (max-width: 768px) {
        padding-left: 32px;
      }
    }
    .header-summary {
      margin: 8px 0 40px;
      @include Text-Style-2;
      span {
        @include Text-Style-5;
      }
      @media only screen and (max-width: 768px) {
        padding-left: 32px;
      }
    }
  }
}
