@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
@import "../../node_modules/bulma/sass/elements/form.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "common";
@import "colors";
@import "header";
@import "overview";
@import "footer";

* {
  box-sizing: border-box;
  font-family: "SourceSansPro", "Open Sans", sans-serif;
}

body {
  background-color: $pale-grey;
  min-height: 100vh;
}
