@mixin Card-Padding-Break {
  position: relative;
  padding: 24px;
  left: -24px;
  width: calc(100% + 48px);
}

@mixin Background-Image-Set($path, $name, $format) {
  background-image: url($path+$name+"."+$format);
  background-image: -webkit-image-set(
    url($path+$name+"."+$format) 1x,
    url($path+$name+"@2x."+$format) 2x,
    url($path+$name+"@3x."+$format) 3x
  );
}
