@import "text";
@import "colors";
@import "mixins";

.expense-details {
  .lft,
  .rgt {
    @include Text-Style-6;
  }

  .rgt {
    text-align: right;
  }
}
.overview-container {
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.expense-progress {
  width: 100%;
  height: 8px;
  border-radius: 6px;
  background-color: $light-grey;
  margin-top: 8px;
  margin-bottom: 24px;
  span {
    display: inherit;
    height: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 209, 193, 0.3);
    background-image: linear-gradient(to right, $aquamarine, $aqua-blue);
  }
}
.pay-now-btn {
  height: 50px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 209, 193, 0.3);
  background-image: linear-gradient(to right, $aquamarine, $aqua-blue);
  text-align: center;
  padding-top: 10px;
  position: relative;
  span {
    font-family: SourceSansPro;
    font-size: 15px;
    font-weight: 600;
    color: $white;
    &::before {
      content: "";
      width: 10px;
      height: 14px;
      position: relative;
      margin-right: 10px;
      top: 2px;
      display: inline-block;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("../assets/lock.png");
    }
  }

  &.small {
    display: inline-block;
    height: 24px;
    border-radius: 4px;
    background-color: $aquamarine;
    font-family: SourceSansPro;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    color: $white;
    padding: 3px 8px 0px;
  }
}
.transaction-list {
  .transaction-item {
    .rgt {
      text-align: right;
    }
    .val {
      @include Text-Style-14;
      &::before {
        height: 10px;
        margin-right: 0;
      }
    }
  }
  .transaction-bill-item {
    margin-bottom: 24px;
    .lbl {
      @include Text-Style-14;
    }
    .date {
      @include Text-Style-15;
    }
    .rgt {
      .lbl {
        @include Text-Style-16;
        &::after {
          content: "";
          width: 9px;
          height: 14px;
          position: relative;
          top: 9px;
          margin-left: 3px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          @include Background-Image-Set("../assets/", "down-arrow", "png");
        }
      }
    }
  }
  .transaction-bill-paid-item {
    margin-bottom: 24px;
    .lbl {
      @include Text-Style-19;
    }
    .val {
      @include Text-Style-27;
      &::before {
        height: 16px;
        height: 16px;
        top: 3px;
        margin-right: 3px;
        position: relative;
        background-image: url("../assets/rupee_g.png");
      }
    }
    .date {
      @include Text-Style-20;
    }
    .rgt {
      .lbl {
        @include Text-Style-18;
      }
    }
    &::before {
      content: "";
      display: inline-block;
      width: 50px;
      height: 50px;
      position: relative;
      top: 2px;
      background-image: url("../assets/transaction-icon-tick.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .transaction-bill-generated-item {
    background-color: #f7faf9;
    @include Card-Padding-Break;
    .title {
      @include Text-Style-21;
      margin-bottom: 0;
    }
    .bill-summary {
      padding-bottom: 16px;
      border-bottom: 1px solid $light-grey;

      @include Text-Style-15;
    }
    .bill-due {
      margin-left: 10px;
      display: inline-block;
      @include Text-Style-22;
    }
    .pay-now-btn {
      margin-top: 16px;
    }
    .bill {
      display: flex;
      &::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 50px;
        margin-right: 10px;
        background-image: url("../assets/transaction-icon-bill.svg");
        background-size: cover;
        background-repeat: no-repeat;
        @media only screen and (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }
    }
    .pay {
      padding-left: 50px;
    }
  }
}
.user-profile-details {
  border-bottom: 1px solid $light-grey;
  @include Card-Padding-Break;
  padding: 0px 24px 24px;
  .user-dp {
    width: 40px;
    height: 40px;
    background-image: url("../assets/user-icon.svg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 14px;
  }
  .user-name {
    @include Text-Style-9;
  }
  .user-credit-score {
    @include Text-Style-6;
    .credit-score {
      border-radius: 4px;
      border: solid 1px $steel-grey;
      padding: 5px;
      margin-left: 8px;
      b {
        @include Text-Style-10;
      }
      @include Text-Style-11;
    }
  }
}
.user-phone-details {
  border-bottom: 1px solid $light-grey;
  @include Card-Padding-Break;
  .user-device {
    @include Text-Style-6;
    &::before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 13px;
      margin-right: 4px;
      @include Background-Image-Set("../assets/", "device", "png");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .user-phone {
    @include Text-Style-12;
  }
}
.user-total-transactions {
  padding: 24px 0;
  .title {
    @include Text-Style-6;
  }
  .pie-chart {
    margin-right: 30px;
    flex-grow: 0;
    position: relative;
  }
  .chart-total {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    @include Text-Style-7;
  }
  .chart-index {
    div::before {
      content: "";
      width: 10px;
      height: 10px;
      margin-right: 8px;
      border-radius: 50%;
      display: inline-block;
    }
    .chart-index-food::before {
      background-color: #00d1c1;
    }
    .chart-index-personal::before {
      background-color: #ff9600;
    }
    .chart-index-clothes::before {
      background-color: #ff5950;
    }
    .chart-index-travel::before {
      background-color: #77898a;
    }
  }
}
.profile-status {
  float: right;
  color: #ff5950;
}
.questions {
  .faq-question {
    @include Text-Style-17;
    position: relative;
    padding: 16px 0px;
    border-bottom: 1px solid $light-grey;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
    &::before {
      content: "";
      display: inline-block;
      width: 5px;
      height: 8px;
      position: relative;
      top: -1px;
      margin-right: 5px;
      @include Background-Image-Set("../assets/", "link-icon", "png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.merchant-list {
  overflow-x: scroll;
  .merchant {
    padding-bottom: 24px;
    margin-right: 16px;
    .merchant-logo {
      width: 112px;
      height: 70px;
      border-radius: 4px;
      border: solid 1px $light-grey;
      background-repeat: no-repeat;
      background-position: center;
    }
    .merchant-bookmyshow {
      @include Background-Image-Set(
        "../assets/merchant-logos/",
        "bookmyshow-logo",
        "png"
      );
    }
    .merchant-freshmenu {
      @include Background-Image-Set(
        "../assets/merchant-logos/",
        "fresh-menu",
        "png"
      );
    }
    .merchant-faasos {
      @include Background-Image-Set(
        "../assets/merchant-logos/",
        "faasos",
        "png"
      );
    }
    .merchant-zomato {
      @include Background-Image-Set(
        "../assets/merchant-logos/",
        "zomato",
        "png"
      );
    }
    span {
      display: block;
      text-align: center;
      @include Text-Style-23;
    }
  }
}
