@import "text";
@import "colors";

.simpl-nav-tabs {
  position: relative;
  @media only screen and (max-width: 768px) {
    overflow-x: scroll;
    padding-left: 32px;
    padding-right: 32px;
  }

  .simpl-tab {
    margin: 0 60px 16px 0;
    color: $steel-grey;
    @include Text-Style-4;

    &.selected {
      @include Text-Style-3;
    }
  }
  .simpl-tab-selected-border {
    position: absolute;
    background-color: #000;
    height: 3px;
    bottom: 0px;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
    @media only screen and (max-width: 768px) {
      margin-left: 32px;
    }
    &.overview {
      left: 0px;
      width: 69px;
    }
    &.profile {
      left: 129px;
      width: 56px;
    }
    &.transactions {
      left: 248px;
      width: 103px;
    }
    &.merchants {
      left: 411px;
      width: 83px;
    }
    &.help {
      left: 554px;
      width: 35px;
    }
  }
}
