@font-face {
  font-family: "SourceSansPro";
  src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SourceSansPro-SemiBold";
  src: url("../assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
}

@mixin Text-Style-7 {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: bold;
  color: $charcoal-grey;
}
@mixin Text-Style {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  color: $greyish-brown;
}
@mixin Text-Style-12 {
  font-family: SourceSansPro;
  font-size: 22px;
  font-weight: bold;
  color: $charcoal-grey;
}
@mixin Text-Style-9 {
  font-family: SourceSansPro;
  font-size: 20px;
  font-weight: 600;
  color: $charcoal-grey;
}
@mixin Text-Style-19 {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  color: $aquamarine;
}
@mixin Text-Style-21 {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: 600;
  color: $charcoal-grey;
}
@mixin Text-Style-14 {
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: bold;
  color: $charcoal-grey;
}
@mixin Text-Style-13 {
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: 600;
  color: $charcoal-grey;
}
@mixin Text-Style-5 {
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: $charcoal-grey;
}
@mixin Text-Style-8 {
  font-family: RupeeForadian;
  font-size: 16px;
  color: $charcoal-grey;
}
@mixin Text-Style-17 {
  font-family: SourceSansPro;
  font-size: 16px;
  color: $aquamarine;
}
@mixin Text-Style-2 {
  font-family: SourceSansPro;
  font-size: 16px;
  line-height: 1.25;
  color: $charcoal-grey;
}
@mixin Text-Style-24 {
  font-family: SourceSansPro;
  font-size: 16px;
  color: $steel-grey;
}
@mixin Text-Style-6 {
  font-family: SourceSansPro;
  font-size: 16px;
  color: $charcoal-grey;
}
@mixin Text-Style-10 {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: bold;
  color: $charcoal-grey;
}
@mixin Text-Style-25 {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $steel-grey;
}
@mixin Text-Style-3 {
  font-family: SourceSansPro;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: $charcoal-grey;
}
@mixin Text-Style-15 {
  font-family: SourceSansPro;
  font-size: 14px;
  color: $steel-grey;
}
@mixin Text-Style-20 {
  font-family: SourceSansPro;
  font-size: 14px;
  color: $aquamarine;
}
@mixin Text-Style-22 {
  font-family: SourceSansPro;
  font-size: 14px;
  color: $charcoal-grey;
}
@mixin Text-Style-4 {
  font-family: SourceSansPro;
  font-size: 14px;
  letter-spacing: 1px;
  color: $steel-grey;
}
@mixin Text-Style-11 {
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 600;
  color: $charcoal-grey;
}
@mixin Text-Style-16 {
  font-family: SourceSansPro;
  font-size: 12px;
  color: $steel-grey;
}
@mixin Text-Style-18 {
  font-family: SourceSansPro;
  font-size: 12px;
  color: $aquamarine;
}
@mixin Text-Style-23 {
  font-family: SourceSansPro;
  font-size: 10px;
  letter-spacing: 0.5px;
  color: $steel-grey;
}
@mixin Text-Style-26 {
  font-family: SourceSansPro;
  font-size: 10px;
  line-height: 1.6;
  color: $steel-grey;
}

@mixin Text-Style-27 {
  font-family: SourceSansPro;
  font-size: 18px;
  font-weight: bold;
  color: $aquamarine;
}
